@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$title: 'Montserrat',
sans-serif;
$regular: 'Nunito',
sans-serif;
$orange :#F2693E;

body {
  font-family: $regular !important;
}

.app {
  position: relative;
  display: flex;
  min-height: 100vh;

  &__sidenav {
    max-height: 100%;
    background-color: #F3F3F3;
    box-shadow: 5px 0px 15px -12px #858585;
    z-index: 99;

    &--header {
      background-color: #F2693E;

      .img {
        margin: auto;
        text-align: center;

        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }

      .profile {
        color: white;
        line-height: 19px;

        span {
          font-size: 12px;
          opacity: 0.6;
          color: black;
        }

        p {
          font-family: $title;
          font-weight: bold;
          font-size: 19px;
        }
      }
    }

    &--menu {
      .list-group {
        border: none !important;
        border-radius: 0 !important;

        .list-group-item {
          border: none;
          background-color: transparent !important;
          letter-spacing: 1px;

          &:hover {
            background-color: #F9F9F9 !important;
            color: $orange;
          }
        }

        .active {
          color: $orange;
          background-color: #F9F9F9 !important;
        }
      }
    }
  }

  &__content {
    background-color: #F9F9F9;

    nav {
      border-bottom: 1px solid #F3F3F3;

      h3 {
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    .wrapper {
      display: flex;

      &__list {
        border-right: 1px solid #F3F3F3;
        min-height: calc(100vh - 10vh);

        &--card {
          min-height: 75px;
          max-height: 75px;
          border-bottom: 1px solid #F3F3F3;

          &:hover {
            background-color: #EBEBEB;
          }

          .user-img {
            img {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
          }

          .user-name {
            color: #555555;
            line-height: 20px;

            p {
              font-weight: bold;
              margin-bottom: 0;
              color: black;
            }

            span {
              font-size: 12px;
            }
          }

          .user-info {
            .badge-web {
              background-color: $orange;
              color: white;
              border-radius: 50%;
              font-size: 10px;
            }

            small {
              font-size: 10px;
            }
          }
        }

        .active {
          background-color: #EBEBEB;
        }
      }

      &__chat {
        position: relative;
        background-color: white;

        &--header {
          min-height: 75px;
          max-height: 75px;
          background-color: #F9F9F9;
          display: flex;
          align-items: center;

          .h-img {
            width: 50px;
            height: 50px;
            margin: auto;

            img {
              text-align: center;
              border-radius: 50%;
            }
          }

          .h-title {
            font-weight: bold;

            small {
              color: #555555;
            }
          }
        }

        &--main {
          overflow: auto;
          min-height: calc(100vh - 20vh);
          max-height: calc(100vh - 20vh);

          .chat__box {
            color: white;
            padding: 10px 20px;
            line-height: 26px;
            font-size: 16px;
            border-radius: 7px;
            margin-bottom: 30px;
            width: 90%;
            position: relative;

            &:after {
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-width: 10px;
              margin-left: -10px;
            }

            &--msg {
              list-style: none;
              margin-bottom: 0;
            }

            &--time {
              font-size: 10px;
            }
          }

          .chat__other {
            float: left;
            border: 1px solid #F3F3F3;
            color: black;

            &::after {
              border-bottom-color: #F3F3F3;
              top: 7%;
              left: -10px;
              transform: rotate(-90deg);
            }
          }

          .chat__mymsg {
            float: right;
            background-color: $orange;

            &::after {
              border-bottom-color: $orange;
              top: 7%;
              right: -20px;
              transform: rotate(90deg);
            }
          }
        }

        &--footer {
          border-top: 1px solid #F3F3F3;
          min-height: 75px;
          max-height: 75px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #F9F9F9;
          align-items: center;
          display: flex;

          input {
            height: 50px;
            border: none;
            width: 100%;
            border-radius: 50px;
          }

          .btn-emot {
            color: #c2c2c2;
            display: flex;
            align-items: center;
          }

          .btn-submit {
            background-color: $orange;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            color: white;

            &:hover {
              box-shadow: 0 0 5px 1px #f2693e;
            }

            ion-icon {
              margin: auto;
            }
          }
        }
      }
    }
  }
}