@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif !important;
}

.app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.app__sidenav {
  max-height: 100%;
  background-color: #F3F3F3;
  -webkit-box-shadow: 5px 0px 15px -12px #858585;
          box-shadow: 5px 0px 15px -12px #858585;
  z-index: 99;
}

.app__sidenav--header {
  background-color: #F2693E;
}

.app__sidenav--header .img {
  margin: auto;
  text-align: center;
}

.app__sidenav--header .img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.app__sidenav--header .profile {
  color: white;
  line-height: 19px;
}

.app__sidenav--header .profile span {
  font-size: 12px;
  opacity: 0.6;
  color: black;
}

.app__sidenav--header .profile p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

.app__sidenav--menu .list-group {
  border: none !important;
  border-radius: 0 !important;
}

.app__sidenav--menu .list-group .list-group-item {
  border: none;
  background-color: transparent !important;
  letter-spacing: 1px;
}

.app__sidenav--menu .list-group .list-group-item:hover {
  background-color: #F9F9F9 !important;
  color: #F2693E;
}

.app__sidenav--menu .list-group .active {
  color: #F2693E;
  background-color: #F9F9F9 !important;
}

.app__content {
  background-color: #F9F9F9;
}

.app__content nav {
  border-bottom: 1px solid #F3F3F3;
}

.app__content nav h3 {
  font-weight: bold;
  letter-spacing: 1px;
}

.app__content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__content .wrapper__list {
  border-right: 1px solid #F3F3F3;
  min-height: calc(100vh - 10vh);
}

.app__content .wrapper__list--card {
  min-height: 75px;
  max-height: 75px;
  border-bottom: 1px solid #F3F3F3;
}

.app__content .wrapper__list--card:hover {
  background-color: #EBEBEB;
}

.app__content .wrapper__list--card .user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.app__content .wrapper__list--card .user-name {
  color: #555555;
  line-height: 20px;
}

.app__content .wrapper__list--card .user-name p {
  font-weight: bold;
  margin-bottom: 0;
  color: black;
}

.app__content .wrapper__list--card .user-name span {
  font-size: 12px;
}

.app__content .wrapper__list--card .user-info .badge-web {
  background-color: #F2693E;
  color: white;
  border-radius: 50%;
  font-size: 10px;
}

.app__content .wrapper__list--card .user-info small {
  font-size: 10px;
}

.app__content .wrapper__list .active {
  background-color: #EBEBEB;
}

.app__content .wrapper__chat {
  position: relative;
  background-color: white;
}

.app__content .wrapper__chat--header {
  min-height: 75px;
  max-height: 75px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__content .wrapper__chat--header .h-img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.app__content .wrapper__chat--header .h-img img {
  text-align: center;
  border-radius: 50%;
}

.app__content .wrapper__chat--header .h-title {
  font-weight: bold;
}

.app__content .wrapper__chat--header .h-title small {
  color: #555555;
}

.app__content .wrapper__chat--main {
  overflow: auto;
  min-height: calc(100vh - 20vh);
  max-height: calc(100vh - 20vh);
}

.app__content .wrapper__chat--main .chat__box {
  color: white;
  padding: 10px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.app__content .wrapper__chat--main .chat__box:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  margin-left: -10px;
}

.app__content .wrapper__chat--main .chat__box--msg {
  list-style: none;
  margin-bottom: 0;
}

.app__content .wrapper__chat--main .chat__box--time {
  font-size: 10px;
}

.app__content .wrapper__chat--main .chat__other {
  float: left;
  border: 1px solid #F3F3F3;
  color: black;
}

.app__content .wrapper__chat--main .chat__other::after {
  border-bottom-color: #F3F3F3;
  top: 7%;
  left: -10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.app__content .wrapper__chat--main .chat__mymsg {
  float: right;
  background-color: #F2693E;
}

.app__content .wrapper__chat--main .chat__mymsg::after {
  border-bottom-color: #F2693E;
  top: 7%;
  right: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.app__content .wrapper__chat--footer {
  border-top: 1px solid #F3F3F3;
  min-height: 75px;
  max-height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F9F9F9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__content .wrapper__chat--footer input {
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 50px;
}

.app__content .wrapper__chat--footer .btn-emot {
  color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__content .wrapper__chat--footer .btn-submit {
  background-color: #F2693E;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.app__content .wrapper__chat--footer .btn-submit:hover {
  -webkit-box-shadow: 0 0 5px 1px #f2693e;
          box-shadow: 0 0 5px 1px #f2693e;
}

.app__content .wrapper__chat--footer .btn-submit ion-icon {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */